body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f0e9;
}

header {
  background: #8b5e3c;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2em;
}

nav {
  background: #593d29;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 50px 20px;
}

section h2 {
  text-align: center;
  color: #8b5e3c;
  margin-bottom: 30px;
}

.about,
.products,
.process {
  max-width: 800px;
  margin: 0 auto;
}

.products img,
.about img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.about p,
.products p,
.process p {
  line-height: 1.6;
  color: #593d29;
}

footer {
  background: #593d29;
  color: white;
  text-align: center;
  padding: 20px;
}

.contact-info {
  text-align: center;
  margin-top: 30px;
}

.contact-info p {
  margin: 5px 0;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth; /* Omogućuje glatko skrolanje */
}

.about img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Dodaje efekt glatke promjene veličine */
}

.about img:hover {
  transform: scale(
    1.1
  ); /* Povećava sliku za 10% kad se mišem prijeđe preko nje */
}

/* Novi stilovi za "O Nama" dizajn */
.about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.about-text,
.about-quote,
.about-info {
  flex: 1;
  max-width: 30%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-text img {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.about-text h2 {
  color: #8b5e3c;
}

.about-text p {
  color: #593d29;
  line-height: 1.6;
}

.about-quote {
  text-align: center;
  background-color: #593d29;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-quote .quote {
  font-size: 1.5em;
  font-style: italic;
}

.about-info img {
  display: block;
  margin: 0 auto 20px;
  max-width: 150px;
}

.about-info p {
  text-align: center;
  color: #8b5e3c;
  margin-bottom: 20px;
}

.about-info ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.about-info ul li {
  margin: 10px 0;
  color: #593d29;
}
